
.MainBox {
    background-color: blue;
    width: 800px;
    height: 430px;
    margin: 0 auto;
}

.top {
    width: 800px;
    height: 100px;
    background-color: yellow;
    text-align: center;
}

.top>img {
    float: right;
    max-width: 75px;
    margin: 10px;
}

.top>h3 {
    display: inline-block;
    position: relative;
    top: 12px;
    font-family: "Palatino Linotype", serif;
    font-size: 64px;
}
.main {
    background-color: grey;
    width: 800px;
    height: 280px;
    text-align: justify;
}
.teksts {
    width: 400px;
    height: 280px;
    float: left;
    background-color: palegoldenrod;
    text-align: justify;
}
.teksts>p {
    line-height: normal;
    padding: 5px;
    font-family: "Palatino Linotype", serif;
}
hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 0;
    width: 100%;
    max-height: 0;
    font-size: 2px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.bilde {
    width: 400px;
    height: 280px;
    float: left;
    background-color: grey;
}
.bilde img {
     max-width: 150px;
     transition: 1s;
     padding: 10px;
     margin-left: 20px;
     margin-top: 30px;
     border:1px solid #021a40;
}
.main img:hover {
      filter: grayscale(100%);
      transform: scale(1.1);
}
.footer {
    background-color: yellow;
    width: 800px;
    height: 50px;
    text-align: right;
}

.footer>ul>li {
    display: inline;
    padding: 5px 5px 5px 5px;
    background-color: darkgreen;
    position: relative;
    top: 13px;
    right: 5px;
    font-family: "Palatino Linotype", serif;
    font-size: 24px;
}